@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Styles.css" type="text/css" />

<div class="text-center">
    <h1>Welcome to Kyle's Coffee Shop!</h1>
</div>

<div class="text-center">
    <p><a href="home/Registration">Register</a> for our weekly newsletter!</p>
</div>

<div>
    <img src="~/images/coffeelogo.png"/>
</div>

<div class="text-center">
    <h3>
        Est. 2021
    </h3>
</div>
