@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/Styles.css" type="text/css" />

<div>
    <h3 style="text-align:center">There's no such thing as "privacy"</h3>
</div>

